{% extends "base/base.html" %}
{% block content %}
    <h2>List of Books</h2>
    <table>
        <tr>
            <th>S/N</th>
            <th>Title</th>
            <th>Isbn</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Published Date</th>
            <th>Book-Age</th>
            <th colspan="2">Options</th>
        </tr>
        {% for author in display_all_author %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{author.first_name}}</td>
            <td>{{author.last_name}}</td>
            <td>{{author.dob}}</td>

            {% if author.year_of_death %}
              <td>{{author.year_of_death}}</td>
              {% else %}
              <td>Still Alive</td>
            {% endif %}
            <td>{{author.dob|timesince:author.year_of_death}}</td>
            <td><a href="{% url 'update_author' author.id %}">edit</a></td>
            <td><a href="{% url 'delete_author' author.id %}">delete</a></td>
            
        </tr>
        {% endfor %}
    </table>
{% endblock %}